@use 'globals/functions'as *;
@use 'globals/mixins'as *;
@use 'globals/variables'as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--LIGHT-GREEN);
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2rem;
    margin: auto;
    width: var(--MAIN-WIDTH);
    background-color: white;
    border-radius: 10px;
}

fieldset {
    border: none;
}

label {
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
}

input {
    height: rem(40);
    padding: 0.4rem;
    @include border;
}

textarea {
    padding: 0.4rem;
}

input[type="radio"],
input[type="checkbox"] {
    opacity: 20%;
    accent-color: var(--LIGHT-GRAY);
    cursor: pointer;
    width: 15px;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    opacity: 1;
    accent-color: var(--DARK-GREEN);
}

.required {
    @extend label;
    display: none;
}

.row-name {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: var(--INPUT-GAP);
}


.email {
    width: 100%;
}

.query {
    @extend .row-name;
    gap: var(--INPUT-GAP);
}

.query-gen,
.query-sup {
    @extend input;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    gap: 0.5rem;
}

.msg {
    width: 100%;
    resize: none;
    @include border;
}

.consent {
    display: flex;
    align-items: center;
    gap: 6px;
}

.submit {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    background-color: var(--DARK-GREEN);
    @include border;
}

.submit:hover {
    background-color: var(--DARKER-GREEN);
    cursor: pointer;
}

.sent {
    display: none;
}

.req::after {
    content: " *";
    color: var(--DARK-GREEN);
    padding-left: 4px;
}

.input:focus,
.input:hover {
    border-width: 1.9px;
    border-color: var(--DARK-GREEN);
    cursor: pointer;
    outline: none;
}

.invalid .form-field {
    /* Define your styles for invalid form fields here */
    display: none;
    /* Example: Red border color for invalid fields */
}